* {
    box-sizing: border-box;
}

body {
    background-color: #b6bd3c;
    font-family: 'Mali', cursive;
}

header {
    margin: 50px auto;
}

h1 {
    
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

button, .button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 36px;
    color: #000;
    opacity: 0.2;
    transition: all 150ms;
    outline: none;
}
button:hover, .button:hover {
    opacity: 1;
}

#retour {
  position: absolute;
  top: 25px;
  left: 25px;
}

#eraseAll {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 36px;
    color: black;
    opacity: 0.2;
    transition: all 150ms;
    outline: none;
}
#eraseAll:hover{
    opacity: 1;
}

#ardoise {
    display: block;
    background-color: #ea1c0c;
    border-radius: 20px;
    padding: 50px;
    position: relative;
}

#ecran {
    background-color: #948160;
    border: 5px solid #000;
    cursor: crosshair;
    z-index: 150;
}

#masque {
    background-color: #948160;
    border: 5px solid #000;
    position: absolute;
    top: 50px;
    width: 610px;
    height: 410px;
    z-index: -50;
}

.button-group {
    margin-top: 25px;
}

.button-group i {
    font-size: 24px;;
}

.button-group h3 {
    display: inline-block;
}

#colors {
    text-align: center;
}

.color {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="color"] {
    border: none;
    border-radius: 50%;
    height: 70px;
    width: 90px;
    opacity: 0;
    margin: 0 -10px;
}


/**************************************
* ANIMATIONS
***************************************/

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.disappear {
    opacity: 0;
    transition: opacity 1000ms;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}